<section class="top">
    <div class="total">
        <p class="total__title">Total:</p>
        <p class="total__value">{{ total | currency: "BRL"}}</p>
    </div>
    <div class="finalizar">
        <button class="finalizar__btn">Finalizar compra</button>
    </div>
</section>

<div class="item" *ngFor="let item of listaItens">
    <app-item
        [item]="item"
        (renderizar)="renderizaLista()"
        ></app-item>
</div>

<div *ngIf="!listaItens.length">
    <h2 class="center">Você não adicionou nenhum item ainda...</h2>
</div>