<div class="card">
    <div class="card__content">
        <figure class="content__info" (click)="verDetalhe()">
                <img class="content__img" [src]="produto.image" [alt]="produto.description" darkenOnHover>
            <div class="content__info" underlineOnHover>
                <figcaption class="info__title">{{produto.product}}</figcaption>
                <p class="info__author">{{ produto.description }}</p>
            </div>
        </figure>
        <div class="content__buy">
            <h4 class="content__price">{{produto.price}}</h4>
            <div class="btn">
                <button class="content__addButton" (click)="adicionaCarrinho(produto)">Adicionar ao carrinho</button>
            </div>
        </div>
    </div>
</div>